/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1,h2,p,th,td{
  font-family: "Comic Sans MS", "游教科書体", sans-serif
}

th{
  padding: 0 10px;
}

td{
  padding: 0 10px;
  color: #333;
}

.flash-message{
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice{
  background-color: #9f9;
  color: green;
  border: solid 1px green;
}

.flash-message.alert{
  background-color: #fcc;
  color: red;
  border: solid 1px red;
}

.error-message{
  box-sizing: border-box;
  width: 300px;
  padding: 16px 24px;
  margin: 16px 0px;
  background-color: #eee;
  color: black;
  border: solid 2px red;
}